{% extends "base.html" %}

{% block content %}
<div class="page-content">
    <h1>О нас</h1>
    <p>Я маленький разработчик, создавший данный форум.</p>
    <p>Мы любим Python, HTML/CSS, Flask и другие технологии.</p>
    <p>Надеюсь, вам понравится нащ форум.</p>

    Если у вас есть вопросы или предложения, свяжитесь с нами:<br>

    Email: <b>support@nikitaredfox.ru</b><br>
    Телеграмм: <a href="https://t.me/ThisRedFox" target="_blank"><b>@ThisRedFox</b></a><br>


    Мы всегда открыты к новым идеям и предложениям по улучшению форума!

</div>
{% endblock %}
