{% extends "base.html" %}

{% block content %}
<div class="page-content">
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h1 style="font-family: 'Oswald', sans-serif; color: rgba(187, 252, 9, 0.897);">{{ title }}</h1>
    <p>
        <p style="font-size: 22px;">{{ form.title.label }}</p>
        {{ form.title(class="form-control", placeholder='Поле для ввода') }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <p style="font-size: 22px;">{{ form.content.label }}</p>
        {{ form.content(class="form-control", rows="10", oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'", placeholder='Поле для ввода') }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>

        <p style="font-size: 22px;">{{ form.category.label }}</p>
        <input list="categories" name="category" class="form-control" placeholder="Вы можете выбрать из существующих, или просто вписать свою">
        <datalist id="categories">
            {% for cat in all_categories %}
                <option value="{{ cat }}">
            {% endfor %}
        </datalist>

        {% for error in form.category.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>

{% endblock %}
