{% extends "base.html" %}

{% block content %}
<div class="page-content">
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h1>{{ title }}</h1>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control", rows="10", oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <!-- value="{{ form.category.data }}" -->
        {{ form.category.label }}<br>
        <input list="categories" name="category" class="form-control" >
        <datalist id="categories">
            {% for cat in all_categories %}
                <option value="{{ cat }}">
            {% endfor %}
        </datalist>

        {% for error in form.category.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>

{% endblock %}
