<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_index.css') }}">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/main.ico') }}" type="image/x-icon">
    {% block extra_styles %}
    {% endblock %}
</head>


<body>
    <header class="header">
        <div class="header__top">
            <div class="header__left">
                <a href="/" target="_self" title="Яндекс ЛМС">Яндекс Лицей.<b>
                        Forum</b>*</a>
            </div>
            <div class="header__right">
                <nav class="header__user-nav">
                    <div class="user-menu">
                        {% if current_user.is_authenticated %}
                            <div style="width: 60px; height: 60px; overflow: hidden; border-radius: 50%;">
                                <img src="{{ url_for('static', filename=current_user.photo) }}"
                                    alt="Фото профиля"
                                    style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                            <a href="#" id="user-name">{{ current_user.username }}</a>
                            <div class="dropdown-menu">
                                {% if current_user.surname and current_user.name %}
                                    <p>{{current_user.surname.capitalize()[0]}}.{{ current_user.name }}</p>
                                {% endif %}
                                <a href="/profile/{{ current_user.username }}">Профиль</a>
                                <a href="/change_account">Сменить аккаунт</a>
                                <a href="/logout">Выйти</a>
                            </div>
                        {% else %}
                            <a href="/login" class="login-button">Log In</a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>

    </header>
    <div class="nav__sections">
        {% for section in sections %}
        <a href="{{ section.url }}" class="{% if section.url == request.path %}active{% endif %}">
            {{ section.title }}
        </a>
        {% endfor %}
    </div>
    <main role="main" class="container">
        {% block content %}

        <div class="page-content">
        </div>

        <div class="sidebar__right">
            <h2>Популярные темы</h2>
            <ul class="sidebar__menu">
                <!-- {% for section in sections %}
                <li><a href="{{ section.url }}">{{ section.title }}</a></li>
                {% endfor %} -->
            </ul>

        </div>
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="footer__left">
            &copy; 2025. ForumLyceum<br>
            <p>«ЯндекЛицей.Forum — это независимый учебный проект, созданный учащимся Яндекс Лицея. Он не является
                официальным продуктом компании Яндекс и не аффилирован с ней.»</p>
        </div>
        <div class="footer__right">
            <a href="/about">О нас</a>
            <a href="/faq">FAQ</a>
            <a href="/terms">Условия использования</a>
            <a href="/privacy">Политика конфиденциальности</a>

        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const userName = document.getElementById("user-name");
            const menu = document.querySelector(".dropdown-menu");

            userName.addEventListener("click", function (event) {
                event.preventDefault();
                menu.classList.toggle("active");
            });

            // Закрытие меню при клике вне его
            document.addEventListener("click", function (event) {
                if (!userName.contains(event.target) && !menu.contains(event.target)) {
                    menu.classList.remove("active");
                }
            });
        });
    </script>
</body>

</html>
