{% extends "base.html" %}

{% block content %}
<div class="page-content">
    Если у вас есть вопросы или предложения, свяжитесь с нами:<br>

    Email: <b>support@nikitaredfox.ru</b><br>
    Телеграмм: <a href="https://t.me/ThisRedFox" target="_blank"><b>@ThisRedFox</b></a><br>


    Мы всегда открыты к новым идеям и предложениям по улучшению форума!

</div>
{% block extra_styles %}
<style>
    img {
        max-width: 100%;
        height: auto;
    }

    .page-content a {
        text-decoration: underline;
    }
</style>
{% endblock %}
{% endblock %}
