{% extends "base.html" %}

{% block content %}
<div class="page-content">
    <!-- поиск по теме, тегам и фильтры (например дата, автор) -->

    <form method="get" action="{{ url_for('forum_main') }}" class="mb-3">
        <input type="text" name="q" placeholder="Поиск..." class="form-control"
               value="{{ request.args.get('q', '') }}" style="width: 100%">

        <div class="search-filters">
            <select name="author" class="form-select"">
                <option value="">Все авторы</option>
                {% for u in users %}
                    <option value="{{ u.username }}" {% if request.args.get('author') == u.username %}selected{% endif %}>
                    {{ u.username }}
                    </option>
                {% endfor %}
            </select>

            <select name="category" class="form-select" style="display: inline-block;">
                <option value="">Все категории</option>
                {% for cat in all_categories %}
                <option value="{{ cat }}" {% if request.args.get('category') == cat %}selected{% endif %}>
                    #{{ cat }}
                </option>
                {% endfor %}
            </select>

            <select name="sort" class="form-select">
            <option value="newest" {% if request.args.get('sort') == 'newest' %}selected{% endif %}>Сначала новые</option>
            <option value="oldest" {% if request.args.get('sort') == 'oldest' %}selected{% endif %}>Сначала старые</option>
            </select>

            <div class="buttons">
                <button type="submit" class="btn btn-success">Применить</button>
                <button type="button" class="btn btn-warning" data-url="{{ url_for('forum_main') }}"
                onclick="window.location.href=this.dataset.url">Очистить</button>
            </div>
        </div>
    </form>
    {% if current_user.is_authenticated %}
    <div class="new_post_button">
        <!-- <a href="/forum/articles/add"><h>&plus;</h> Создать пост</a> -->
        <button type="button" class="btn btn-success" data-url="{{ url_for('add_articles') }}"
        onclick="window.location.href=this.dataset.url">&plus; Создать пост</button>
    </div>
    {% endif %}


    {% for item in articles %}
        <div class="article">
            <div class="user-info">
                {% if not item.user %}
                    {% set user = users|selectattr('username', '==', 'DeletedAccount')|first %}
                {% else %}
                    {% set user = item.user %}
                {% endif %}
                <div class="user-info__left">
                    <div style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%;">
                        <img src="{{ url_for('static', filename=user.photo) }}"
                            alt="Фото профиля"
                            style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <a href="/profile/{{ user.username }}">{{ user.username}}</a>
                </div>
                <div class="user-info__right">
                    {{ item.created_date|time_ago }}
                </div>
            </div>

            <a href="/forum/articles/{{ item.id }}"><h2>{{ item.title }}</h2></a>
            <h4>#{{ item.category }}</h4>
            <!-- {{ item.content.replace('\n', '<br>')|safe }} -->
            {{ item.created_date.date().strftime('%d.%m.%Y') }}
            {% if current_user.is_authenticated and current_user == item.user %}
            <div class="buttons">
                <a href="/forum/articles/edit/{{ item.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/forum/articles/delete/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
            {% endif %}
        </div>
{% endfor %}
</div>

<!-- <div class="sidebar__right"> -->
    <!-- <h2>Популярные темы</h2> -->
    <!-- <ul class="sidebar__menu">
        {% for section in sections %}
        <li><a href="{{ section.url }}">{{ section.title }}</a></li>
        {% endfor %}
    </ul> -->

<!-- </div> -->


{% block extra_style %}
    <style>
        .article {
            background-color: rgb(23,23,23);
            border: 1px solid rgba(132, 179, 0, 0.2);
            border-radius: 12px;
            padding: 10px;
            margin-bottom: 10px;
        }
        .article:hover {
            border: 1px solid rgba(132, 179, 0, 0.6);
        }

        .buttons {
            display: flex;
            gap: 1rem;
        }

        .buttons a {
            width: fit-content;
            font-size: 14px;
        }
        .user-info {
            display: flex;
            align-items: center;
            gap: 1rem;
            justify-content: space-between;
        }
        .user-info__left {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0 0 1rem 0;
            width: 100%;
            border: 1px solid rgba(0, 179, 140, 0.2);
        }

        .search-filters {
            display: flex;
            width: 100%;
            gap: 1rem;
            justify-content: space-between;
        }

        .new_post_button {
            display: flex;
            justify-content: center;
            background-color: rgb(23,23,23);
            border: 1px solid rgba(0, 179, 140, 0.2);
            border-radius: 12px;
            padding: 10px;
            margin-bottom: 1.4rem;
        }

        .new_post_button button {
            color: white;
            border: none;
        }

        .new_post_button button:hover {
            border-radius: 10px;
            transition: 600ms;
            font-size: 20px;
        }

        .new_post_button button:not(:hover) {
            transition: 600ms;

        }

    </style>
{% endblock %}
{% endblock %}
