{% extends "base.html" %}

{% block content %}
<div class="page-content">
    <form method="get" class="mb-3">
        <input type="text" name="q" placeholder="Поиск..." class="form-control"
               value="{{ request.args.get('q', '') }}" style="width: 100%">

        <div class="buttons">
            <button type="submit" class="btn btn-success">Поиск</button>
        </div>
    </form>
    <div class="page">
        {% if subscriptions %}
            <div class="subscriptions-list">
                {% for subscription in subscriptions %}
                    {% set sorted_articles = subscription.articles|sort(attribute='created_date', reverse=True) %}
                    <div class="subscription-item">
                        <div class="subscription-item__left">
                            <a href="{{ url_for('profile', username=subscription.username) }}">
                                    <img src="{{ url_for('static', filename=subscription.photo) }}"
                                        alt="Фото профиля"
                                        style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
                                <div style="color: rgb(224, 107, 10); font-weight: 800;">@{{ subscription.name or subscription.username }}</div>
                            </a>
                        </div>
                        <div class="subscription-item__right">
                            {% if sorted_articles %}
                                <a href="{{ url_for('article', id=subscription.articles[0].id) }}" style="font-size: 18px; font-family: 'Times New Roman', Times, serif; color: rgb(230, 255, 163);">
                                    &OpenCurlyDoubleQuote; {{ sorted_articles[0].title }} &CloseCurlyDoubleQuote;
                                </a>
                                <div style="color: rgb(150, 150, 150);">&Tilde; {{ sorted_articles[0].created_date|time_ago }}</div>
                            {% endif %}
                            <form action="{{ url_for('unsubscribe', user_id=subscription.id) }}" method="post" style="border: none; width: fit-content; margin: 0; padding: 0;">
                                <button type="submit" class="btn btn-warning" style="border: none; margin: 0;" title="Отписаться">❌</button>
                            </form>
                        </div>
                    </div>
                    {% if not loop.last %}
                        <hr style="border-color: #444;">
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>Нет результатов</p>
        {% endif %}
    </div>
</div>

{% block extra_styles %}
<style>
    .page-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .page {
        width: 70%;
    }

    .subscription-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .subscription-item__left a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .subscription-item__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin: 0 0 0 auto;

    }

</style>

{% endblock %}
{% endblock %}
